@import url("https://fonts.googleapis.com/css?family=Bungee");


/* words */
.displacy-word, .displacy-tag, .displacy-label {
    font: 15px Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.displacy-tag[data-tag^="NOUN"] {color: #FD9720}
.displacy-tag[data-tag^='PROPN'] {color: #e00800}
.displacy-tag[data-tag^="ADJ"] {color: #99ab92}
.displacy-tag[data-tag^='PRON'] {color: #A6E22C}
.displacy-tag[data-tag^='DET'] {color: #3ee212}
.displacy-tag[data-tag^='NUM'] {color: #000000}
.displacy-tag[data-tag^='ADV'] {color: #257430}
.displacy-tag[data-tag^='VERB'] {color: #E00184}
.displacy-tag[data-tag^='ADP'] {color: #5d1a3c}
.displacy-tag[data-tag^='SCONJ'] {color: #25349d}
.displacy-tag[data-tag^='CCONJ'] {color: #259499}
.displacy-tag[data-tag^="PART"] {color: #ffff00}
.displacy-tag[data-tag^="INTJ"] {color: #729b12}
.displacy-tag[data-tag^="PUNCT"] {color: #009dff}
.displacy-tag[data-tag^="AUX"] {color: #695EAB}


/* arrows */
.displacy-arrowhead, .displacy-arrow {
    color: #879089;
}


/* Search box */
body {
    padding-left: 5%;
    padding-right: 5%;
    background: #455a64;
    color: white;
    font-family: "Bungee", cursive;
    margin-top: 50px;
    text-align: center;
}
.search-box {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 50px;
}
.search-box input {
    width: 100%;
    height: 30px;
    color: #fff;
    background: #546e7a;
    border:0;
    outline: none !important;
    transition: all 0.2s linear;
    font-size: 100%;
    padding: 10px;
    border-radius: 4px;
}
.search-box input:focus {
    background: #fff !important;
    outline: 0;
    color: #333;
}
.search-box input:hover {
    background: #78909c;
}

/* Footer */
#footer{
    position: fixed;
    bottom:0;
    width:100%;
    left:0;
    background: #282a34;
}
#footer p{
    font: 12px Helvetica, Arial, sans-serif;
    padding: 10px 20px;
    margin:0;
    text-align:center;
}


/* Loading */
#progress svg {
    margin: auto;
    width: 100%;
    height: 100%;
	max-width: 25em;
	border-radius: 3px;
	fill: none;
	stroke: #78909c;
	stroke-linecap: round;
	stroke-width: 8%
}

#progress use {
	stroke: #fff;
	animation: a 2s linear infinite
}

@keyframes a { to { stroke-dashoffset: 0 } }


.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}


/* Error */
#error a {
  color: #2aa7cc;
  text-decoration: none;
}
#error a:hover {
  color: white;
}
#error svg {
	max-width: 25em;
}
.lightblue {
  fill: #444;
}

/*noinspection CssUnresolvedCustomProperty*/
.eye {
    cx: calc(115px + 30px * var(--mouse-x));
    cy: calc(50px + 30px * var(--mouse-y));
}
#eye-wrap {
    overflow: hidden;
}
.error-text {
    font-size: 120px;
}
.alarm {
    animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn { to {fill: darkred;} }
